version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: root
      RABBITMQ_DEFAULT_PASS: root
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    volumes:
        - rabbitmq_data:/var/lib/rabbitmq
        - rabbitmq_logs:/var/log/rabbitmq

  keyclock:
    image: quay.io/keycloak/keycloak:26.5.4
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"
    restart: always
    command:
      - start-dev

volumes:
  rabbitmq_data:
  rabbitmq_logs: